<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class='container'>
        <h1>Shorten URL</h1>
        <form action="/shortUrl" method="POST" class="form-inline">
            <div class="form-group">
                <input type="url" name="url" id="url" class="form-control" required placeholder="Enter url here">
            </div>
            <button class="btn btn-primary" type="submit">Short</button>
        </form>

        

        <table class="table">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Last hour clicks</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(shortUrl => { %>
                <tr>
                    <td><a href="<%= shortUrl.url %>"><%= shortUrl.url %></a></td>
                    <td><a href="<%= shortUrl.shortUrl %>"><%=shortUrl.shortUrl %></a></td>
                    <td><%= shortUrl.hits %></td>
                    <td><%= shortUrl.lastHourCount %></td>
                    <td><%= moment(shortUrl.createdAt).calendar() %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>