<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <div>
        <h1>URL Short</h1>
        <form action="/shortUrl" method="POST">
            <input placeholder="enter url here" type="url" name="url" id="url">
            <button class="btn btn-success" type="submit">Short</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Last hour clicks</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(shortUrl => { %>
                    <tr>
                        <td><a href="<%= shortUrl.url %>"><%= shortUrl.url %></a></td>
                        <td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
                        <td><%= shortUrl.hits %></td>
                        <td><%= shortUrl.lastHourCount %></td>
                        <td><%= new Date(shortUrl.createdAt) %></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>